{% extends 'base.html' %}
{% block content %}

<section class="text-gray-600 body-font">
    <div class="container px-5 mx-auto">
      <div class="h-screen flex items-center justify-center">

        <card class="relative h-[30rem] sm:h-96 w-[35rem] rounded-lg">
      
          <!-- Background Image -->
          <img src="https://i.imgur.com/XhNhg9K.png" class="object-cover w-full h-full rounded-lg" />
          
          <!-- Content -->
          <div class="absolute w-full h-full bottom-0 bg-gradient-to-r from-fuchsia-700/30 to-violet-700 rounded-lg flex flex-col items-center justify-center text-center">
          
              <!-- Company Logo -->
              <img src="https://i.imgur.com/uMe0RUd.png" class="max-w-[260px]"/>
      
              <!-- Quotes -->
              <p class="text-lg px-14 text-gray-300 mt-10">
                Hello! I'm Austin. I'm an aspiring self taught data analyst currently learning Django, the high level Python web framework this blog was built on.
              </p>
      
              <!-- Photo -->
              <img src="https://avatars.githubusercontent.com/u/106990217?v=4" class="max-w-[60px] rounded-full border-2 mt-8" />
      
              <!-- Title -->
              <p class="text-base font-bold px-14 text-gray-300 mt-3">
                Data Analyst/Django Dev
              </p>
      
              <p class="text-sm font-light px-14 text-gray-300 ">
                Austin Ellerman
              </p>
      
          </div>
      
        </card>
      
      </div>
    </div>
  </section>

{% endblock content %}